[submodule "external/godot-cpp"]
	path = external/godot-cpp
	url = https://github.com/IvanInventor/godot-cpp
	branch = cmake-rewrite
[submodule "external/cppscript"]
	path = external/cppscript
	url = https://github.com/IvanInventor/godot-cppscript
	branch = master
